layout {
    tab focus=true {
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }

        pane command="bash" name="COMPILE AND RELOAD PLUGIN" {
            args "-c" "cargo build && zellij action launch-or-focus-plugin file:target/wasm32-wasi/debug/zbufer.wasm --floating"
            // args "-c" "cargo build && zellij action start-or-reload-plugin file:target/wasm32-wasi/debug/zbufer.wasm"
        }

        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
    }
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
    tab
}
